@font-face {
    font-family: 'LiebeErikaRegular';
    src: url("../fonts/liebeerika-regular-webfont-webfont.aa22ed2886b1.eot");   
    src: url("../fonts/liebeerika-regular-webfont-webfont.aa22ed2886b1.eot?#iefix") format('embedded-opentype'),         
         url("../fonts/liebeerika-regular-webfont.c86f0f5391f9.woff") format('woff'),
         url("../fonts/liebeerika-regular-webfont.57a5fa71bd40.ttf") format('truetype'),
         url("../fonts/liebeerika-regular-webfont.8c21232a94d9.svg#webfont3LM1W9od") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo300';
    src: url("../fonts/museo300-regular-webfont.7b268cc9eec5.eot") format('eot'),
         url("../fonts/museo300-regular-webfont.18c4651fcb43.woff") format('woff'),
         url("../fonts/museo300-regular-webfont.9a0f8ea9fdbd.ttf") format('truetype'),
         url("../fonts/museo300-regular-webfont.a9eef09fa183.svg#webfont2Gc0XgKV") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500';
    src: url("../fonts/museo500-regular-webfont.b3a281d60649.eot") format('eot'),
         url("../fonts/museo500-regular-webfont.2b2b9d7150d7.woff") format('woff'),
         url("../fonts/museo500-regular-webfont.870c6fc46764.ttf") format('truetype'),
         url("../fonts/museo500-regular-webfont.5a4704226386.svg#webfontMSkVLLIt") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo700';
    src: url("../fonts/museo700-regular-webfont.4d61ecaff3fd.eot") format('eot'),
         url("../fonts/museo700-regular-webfont.794ade20edd0.woff") format('woff'),
         url("../fonts/museo700-regular-webfont.b43d1ddc57f5.ttf") format('truetype'),
         url("../fonts/museo700-regular-webfont.0901af698884.svg#webfontmURqkq0f") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLT Std Med';
    src: url("../fonts/helveticaneue-medium-webfont.3d3f1bd4dd6f.woff") format('woff'),
         url("../fonts/HelveticaNeueLTStd-Md.f0d7d673ef06.otf") format('opentype'); 
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLT Std Thin';    
    src: url("../fonts/helveticaneue-thin-webfont.19c6210c152e.woff") format('woff'),
         url("../fonts/HelveticaNeueLTStd-Th.957c7a8c1737.otf") format('opentype');         
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLT Std Lt';    
    src: url("../fonts/helveticaneue-light-webfont.d642c1321ae9.woff") format('woff'),
         url("../fonts/HelveticaNeueLTStd-Lt.06137036ee2d.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLT Std';    
    src: url("../fonts/helveticaneue-webfont.125f31d05101.woff") format('woff'),
         url("../fonts/HelveticaNeueLTStd-Roman.f0db0faa0f4a.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLT Std Hv';    
    src: url("../fonts/helveticaneue-heavy-webfont.7d54fbe91fe4.woff") format('woff'),
         url("../fonts/HelveticaNeueLTStd-Hv.19f8d00e5078.otf") format('opentype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'flexslider-icon';
	src:url("../fonts/flexslider-icon.9c9cb7a60550.eot");
	src:url("../fonts/flexslider-icon.9c9cb7a60550.eot?#iefix") format('embedded-opentype'),
		url("../fonts/flexslider-icon.f8b92f665394.woff") format('woff'),
		url("../fonts/flexslider-icon.b4c9e5057989.ttf") format('truetype'),
		url("../fonts/flexslider-icon.10e8a5455c45.svg#flexslider-icon") format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../js/plugins/bootstrap/fonts/glyphicons-halflings-regular.f4769f9bdb74.eot");
  src: url("../js/plugins/bootstrap/fonts/glyphicons-halflings-regular.f4769f9bdb74.eot?#iefix") format('embedded-opentype'),
       url("../js/plugins/bootstrap/fonts/glyphicons-halflings-regular.fa2772327f55.woff") format('woff'),
       url("../js/plugins/bootstrap/fonts/glyphicons-halflings-regular.e18bbf611f2a.ttf") format('truetype'),
       url("../js/plugins/bootstrap/fonts/glyphicons-halflings-regular.89889688147b.svg#glyphicons-halflingsregular") format('svg');
}


@font-face {
    font-family: 'MuseoSans300Regular';
    src: url("../fonts/museo-sans/museosans_300_macroman/MuseoSans_300-webfont.8c13dc418bfd.eot");
    src: url("../fonts/museo-sans/museosans_300_macroman/MuseoSans_300-webfont.8c13dc418bfd.eot?#iefix") format('embedded-opentype'),
         url("../fonts/museo-sans/museosans_300_macroman/MuseoSans_300-webfont.36cd3e61d1a6.woff") format('woff'),
         url("../fonts/museo-sans/museosans_300_macroman/MuseoSans_300-webfont.deefa56d999f.ttf") format('truetype'),
         url("../fonts/museo-sans/museosans_300_macroman/MuseoSans_300-webfont.ee6ee0ca238d.svg#MuseoSans300Regular") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans500Regular';
    src: url("../fonts/museo-sans/museosans_500_macroman/MuseoSans_500-webfont.444f901ced11.eot");
    src: url("../fonts/museo-sans/museosans_500_macroman/MuseoSans_500-webfont.444f901ced11.eot?#iefix") format('embedded-opentype'),
         url("../fonts/museo-sans/museosans_500_macroman/MuseoSans_500-webfont.fba41e1da7b0.woff") format('woff'),
         url("../fonts/museo-sans/museosans_500_macroman/MuseoSans_500-webfont.21443173c486.ttf") format('truetype'),
         url("../fonts/museo-sans/museosans_500_macroman/MuseoSans_500-webfont.522d0ad8ad68.svg#MuseoSans500Regular") format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans700Regular';
    src: url("../fonts/museo-sans/museosans_700_macroman/MuseoSans_700-webfont.84cd64aca41f.eot");
    src: url("../fonts/museo-sans/museosans_700_macroman/MuseoSans_700-webfont.84cd64aca41f.eot?#iefix") format('embedded-opentype'),
         url("../fonts/museo-sans/museosans_700_macroman/MuseoSans_700-webfont.eb5b2702acb7.woff") format('woff'),
         url("../fonts/museo-sans/museosans_700_macroman/MuseoSans_700-webfont.580b2c4c4ac3.ttf") format('truetype'),
         url("../fonts/museo-sans/museosans_700_macroman/MuseoSans_700-webfont.1f0867647660.svg#MuseoSans700Regular") format('svg');
    font-weight: normal;
    font-style: normal;

}


