.meeting{
	border-radius: 3px;
}

.evenRowBackGroundA{
    opacity: .1;
        background: 
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #999 78%), 
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
    #444;
    background-size: 16px 48px;
    border-bottom: 1px solid black;
}

.evenRowBackGroundB{
    opacity: .1;
        background: 
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #999 78%), 
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
    #444;
    background-size: 16px 48px;
}

.evenRowBackGroundC{
    opacity: .1;
        background: 
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #999 78%), 
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
    #444;
    background-size: 16px 48px;
    border-top: 1px solid black;
}

.oddRowBackGround{
    opacity: .1;
    border-bottom: 1px solid black;
}

.oddRowBackGroundB{
    opacity: .1;
    border-top: 1px solid black;
}

.evenRowBackGround-allday{
    background: 
    linear-gradient(63deg, #99ccff 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #99ccff 78%), 
    linear-gradient(63deg, transparent 34%, #99ccff 38%, #99ccff 58%, transparent 62%), 
    #0039e6 !important;
    
}

.timeInput{
    font-size: x-large;
    text-align: right;
    border-radius: 3px;
}

.timeInvalid{
    color: red;
}

.layoutName {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.roomLayout
{
    margin: 5px; 
    border-radius: 5px; 
    background-color: #c0e4e8;
    margin-left: auto;
    margin-right: auto;
}

.roomLayoutSelect
{
    border: 3px solid teal;
}

tbody td:nth-of-type(1),
thead th:nth-of-type(1){
    min-width: 51px !important;
    max-width: 51px !important;
}
tbody td:nth-of-type(2),
thead th:nth-of-type(2){
    min-width: 51px !important;
    max-width: 51px !important;
}

.img-roomlayout
{
    display: block; 
    margin: auto;
    margin-top: 15px;
}

.btn{
    font-size: large;
}

.important{
    background-color: lightskyblue !important;
    background-image: none !important;
    
}

div.expand {
  height: 80px;
  width: 230px;
  background: #c0e4e8;
  position: relative;
  cursor: pointer;
  border: 3px solid teal;
  border-radius: 10px;
  z-index: 1000;
}
div.expand:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  height: 20px;
  width: 20px;
  background: #c0e4e8;
  box-sizing:border-box;
  transform: rotate(225deg) translate(90%);
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
  z-index: 1000;
}

.x-css-shadow {
    box-shadow: none !important;
    z-index: 1 !important;
}

.thinBorder {
    border-left: 1px solid rgba(0, 0, 0, .25);
}

.thinBorderBottom {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}


.thinBorderAll{
    border: 1px solid rgba(0, 0, 0, .25);
}

div.meetingTip {
  height: 125px;
  width: 230px;
  background: white;
  position: relative;
  cursor: pointer;
  border: 3px solid grey;
  border-radius: 10px;
  z-index: 999;
}
div.meetingTip:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  height: 20px;
  width: 20px;
  box-sizing:border-box;
  background: white;
  transform: rotate(225deg) translate(90%);
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
  z-index: 999;
}

.callout-title{
    padding: 1px;
    z-index: 1000; 
    border-radius: 6px;
}


.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: hidden;
}

.warn-toast
{
    text-align: center; 
    font-weight: bolder;
    background-color:#ff8000;
}
.warn-toast-outer
{
    background-color: red; 
    border-color: red !important;
}

.x-resizable-pinned-mtg
{
  background-image: none !important;
  background-color: rgba(186, 185, 185, 0) !important;
}

.x-resizable-pinned-mtg:hover
{
  background-color: rgba(0, 0, 0, 0.3) !important;
  background-image: none !important;
}

.x-resizable-pinned-mtg-hover
{
  background-color: rgba(0, 0, 0, 0.3) !important;
  background-image: none !important;
  border-radius: 3px;
}

.link-color
{
    color: #43b8bc;
}

.fill-color
{
    background-color: #DFE8F6;
}

.btn-disable
{
    cursor: not-allowed;
    pointer-events: none;

    /*Button disabled - CSS color class*/
    color: #c0c0c0;
    background-color: #ffffff;

}

.row-overlay
{
        text-align: center; 
        position: absolute; 
        width: 900px; 
        height: 50px; 
        padding: 10px;    
        font-size: x-large;
        z-index: 1;
}

.numberCircle {
    border-radius: 100%;
    padding: 0px 7px 3px 7px;
    border: 2px solid #666;
}
.numberCircle span {
    text-align: center;
    line-height: 120px;
    display: block;
}

.bubble-text {
    background-color: teal;
    color: white;
}
.mtg-instance
{
    z-index: 2
}

.twentyfourhr-bubble
{
    /*float:right;*/
    position: absolute;
    z-index:1000; 
    top: 0px;
    right: 0px;
    opacity: 1 !important;
    margin-top:15px;
    padding: 3px 3px 3px 3px !important;
    margin-right: 15px;
    border: none;
}

.twentyfourhr-bubble:hover
{
    cursor: pointer !important
}

.mtg-instance:hover
{
    cursor: pointer !important
}
.hideARow:hover
{
    cursor: pointer !important
}
.expand-view:hover
{
    cursor: pointer !important
}
.meeting-item-type:hover
{
    cursor: pointer !important
}
.fa-btn:hover
{
    cursor: pointer !important
}

.row-overlay:hover
{
    cursor: default
}

.bubbleClicked
{
    background-color: rgba(0, 128, 128, .3) !important;
}