.meeting{
	border-radius: 3px;
}

.evenRowBackGroundA{
    opacity: .1;
        background: 
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #999 78%), 
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
    #444;
    background-size: 16px 48px;
    border-bottom: 1px solid black;
}

.evenRowBackGroundB{
    opacity: .1;
        background: 
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #999 78%), 
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
    #444;
    background-size: 16px 48px;
}

.evenRowBackGroundC{
    opacity: .1;
        background: 
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #999 78%), 
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
    #444;
    background-size: 16px 48px;
    border-top: 1px solid black;
}

.oddRowBackGround{
    opacity: .1;
    border-bottom: 1px solid black;
}

.oddRowBackGroundB{
    opacity: .1;
    border-top: 1px solid black;
}

.timeInput{
    font-size: x-large;
    text-align: right;
    border-radius: 3px;
}

.timeInvalid{
    color: red;
}

.layoutName {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.roomLayout
{
    margin: 5px; 
    border-radius: 5px; 
    background-color: #c0e4e8;
    margin-left: auto;
    margin-right: auto;
}

.roomLayoutSelect
{
    border: 3px solid teal;
}

tbody td:nth-of-type(1),
thead th:nth-of-type(1){
    min-width: 51px !important;
    max-width: 51px !important;
}
tbody td:nth-of-type(2),
thead th:nth-of-type(2){
    min-width: 51px !important;
    max-width: 51px !important;
}

.img-roomlayout
{
    display: block; 
    margin: auto;
    margin-top: 15px;
}

.btn{
    font-size: large;
}

.important{
    background-color: lightskyblue !important;
    background-image: none !important;
    
}

div.expand {
  height: 70px;
  width: 230px;
  background: #c0e4e8;
  position: relative;
  cursor: pointer;
  border: 3px solid teal;
  border-radius: 10px;
  z-index: 10000;
}
div.expand:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  height: 20px;
  width: 20px;
  background: #c0e4e8;
  box-sizing:border-box;
  transform: rotate(225deg) translate(90%);
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
  z-index: 10000;
}