.meeting{
	border-radius: 3px;
}

.evenRowBackGroundA{
    opacity: .1;
        background: 
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #999 78%), 
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
    #444;
    background-size: 16px 48px;
    border-bottom: 1px solid black;
}

.evenRowBackGroundB{
    opacity: .1;
        background: 
    linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
    linear-gradient(63deg, transparent 74%, #999 78%), 
    linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
    #444;
    background-size: 16px 48px;
}

.oddRowBackGround{
    opacity: .1;
    border-bottom: 1px solid black;
}


tbody td:nth-of-type(1),
thead th:nth-of-type(1){
    min-width: 51px !important;
    max-width: 51px !important;
}
tbody td:nth-of-type(2),
thead th:nth-of-type(2){
    min-width: 51px !important;
    max-width: 51px !important;
}